* {
    margin: 0 auto;
    padding: 0;
}

body {
    width: 90%;
    /* min-width: 1400px;*/
    max-width: 2000px;
}

body>div:first-child {
    margin-top: 20px;
    background-image: url("../img/moqueta.jpg");
    padding: 70px;
}

#container {
    background-image: url("../img/poker-table.jpg");
    background-size: 100% 100%;
    height: 500px;
    border-radius: 250px;
    border: 15px solid #3d2214;
    width: 75%;
}

#container>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/*--------------------------------Ruleta------------------------------*/
#ruleta {
    background-image: url("../img/ruleta-3.png");
    height: 350px;
    width: 350px;
    background-size: 350px 350px;
}

/*----------------------------------Tablero--------------------------*/
#tablero {
    text-align: center;
    margin: 0 auto;
}

#tablero p {
    margin: 6px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 5px;
}

#tablero div {
    border: 1px solid white;
    width: 2rem;
    color: white;
}


#numeros {
    display: grid;
    grid-template-columns: repeat(13, auto);
    margin-right: 20%;
}

#numeros div {
    width: 40px;
}

#numeros div p {
    background-color: red;
}

.negro p {
    background-color: black !important;
}

/*Cero*/
#numeros div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 1/2;
    background-color: #00A64D;
}

#numeros div:first-child p {
    background-color: #00A64D;
}

/*-----------------------------Combinadas-----------------------------*/
#combinadas {
    margin-top: 10px;
    width: 100%;
}

#combinadas>div:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 0;
}

#combinadas>div:first-child div {
    width: calc(100%/3);
}

#combinadas>div:last-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 0;
}

#combinadas>div:last-child div {
    width: calc(100%/6);
}

#combinadas>div:last-child div:nth-last-child(4) {
    background-color: red;
}

#combinadas>div:last-child div:nth-last-child(3) {
    background-color: black;
}

/*------------------------------------------Interaccion----------------------------------------*/
#tablero p:hover,
#combinadas>div:last-child div:nth-last-child(3):hover,
#combinadas>div:last-child div:nth-last-child(4):hover {
    cursor: grab;
    -webkit-box-shadow: 0px 0px 15px 1px #FFF900;
    box-shadow: 0px 0px 15px 1px #FFF900;
}

#ruleta:active {
    background-image: url("../img/ruleta.gif");
    cursor: pointer
}

ul {
    margin: 15px 0 0 auto;
    padding: 10px;
    background-color: white;
    width: 20%;
    text-align: start;
    list-style: none;
    font-size: 1.3rem;
}

li:hover {
    font-size: 1.6rem;
    font-weight: bold;
}

@media screen and (max-width: 1610px) {
    body {
        width: 100%;
        min-width: 1100px;
    }

    body>div:first-child {
        margin-top: 0px;
        padding: 30px;
    }

    #container {
        height: 850px;
        width: 60%;
    }

    #container>div {
        flex-direction: column;
    }

    #tablero {
        margin-top: 25px;
    }

    ul {
        margin: 15px auto 0 0;
    }

}